DB_HOST=SEU_HOST_POSTGRES
DB_PORT=5432
DB_NAME=sensor_delivery
DB_USER=postgres
DB_PASSWORD=SUA_SENHA
HOST=0.0.0.0
PORT=3000
API_PUBLIC_URL=https://api.seudominio.com
HTTPS_ENABLED=true
TLS_KEY_PATH=certificados/privkey.pem
TLS_CERT_PATH=certificados/fullchain.pem
# TLS_CA_PATH=certificados/chain.pem
# TLS_KEY_PASSPHRASE=
# TRUST_PROXY=true
